<div>
  <h1>Hola {{user}} este es el administrador de novedades</h1>

  <div>
    <h4 class='text-end pt-4 text-muted'>¿deseas cerrar sesión?
      <a href='/admin/login/logout' class='btn btn-danger'>Cerrar sesión<i
          class='fas fa-sign-out-alt mx-2'
        ></i></a></h4>
  </div>

</div>